{% schema %}
  {
    "name": "Quotes",
    "settings": [
                    {
                        "type":"text",
                        "label":"Quotes Widget",
                        "id":"heading"
                    }
                ]
  }
{% endschema %}

<div class="quoteblock">
    <div id="qouteDisplay"></div>
</div>
<script>
    var qoutes = [ 
	"I don't fight for the money. I fight for my legacy. I fight for history. I fight for my people.<br>Khabib Nurmagomedov",
	"If something stands between you and your success, move it. Never be denied.<br>The Rock",
	"My power is discombobulating devastating. I could feel his muscle tissues collapse under my force. It’s ludicrous these mortals even attempt to enter my realm.<br>Mike Tyson"
]

function newQoute() {
	var randomNumber = Math.floor(Math.random() * (qoutes.length));
  document.getElementById('qouteDisplay').innerHTML = qoutes[randomNumber];
}

window.onload = newQoute()
</script>