sticky-header.color-accent-1{
    background-color:rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
body{
    background: hsla(0, 0%, 100%, 1) no-repeat;
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 90%, hsla(0, 0%, 0%, 1) 90%) no-repeat !important;
    background: -moz-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 90%, hsla(0, 0%, 0%, 1) 90%) no-repeat !important;
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 90%, hsla(0, 0%, 0%, 1) 85%) no-repeat !important;
}
.header-wrapper .list-menu{
    font-weight: 700;
    text-transform: uppercase;
}
.banner--large:not(.banner--adapt) {
    min-height: calc(100vh - 130px) !important;
}
.quick-add__submit{
    background: #121212 !important;
    color: #ffffff !important;
    text-transform: uppercase;
}
.card__information, .card-information{
    text-align: center !important;
}
.collection__title{
    text-align: center !important;
    text-transform: capitalize;
}
.button.button--secondary{
    background: #121212 !important;
    border:none !important;
    box-shadow: none !important;
}
.button.button--secondary:hover{
    background: #ffffff !important;
    border:none !important;
    color: #121212 !important;
    box-shadow: none !important;
}
.card__inner{
    background: #ffffff;
    border: 0px solid #ffffff;
}
.card__inner img{
    border: 0px solid #ffffff;
}
.quoteblock{
    padding: 5vw;
    text-align: center;
    color:#ffffff;
    background: #351f39;
}
.stacksection{
    overflow: hidden;
    background: url("nowavailable.jpg") no-repeat;
    background-size: contain;
    margin: 20px;
}
.stackheader{
    padding: 0px 0px 0px 30px;
    display: flex;
}

.stackcontent{
    width: 50%;
}
.stackimage{
    width: 50%
}
.stackimage img{
    min-width: 40vw;
    margin-top: 150px;;
    float: left;
}
/*mobile styling for stackbanner*/
@media only screen and (max-width: 600px) {
    .stackcontent{
        background-color: #ffffff;
        text-align: center;
        min-width: 80vw;
        margin: 100px 0px 0px 0px;
        padding: 30px;
    }
    .stackimage img{
        display: none;
        padding-right: 10px;
        width:80vw;
        float:left;
        margin-top: 50px;}
  }
  /*mobile styling for stackbanner*/
  @media only screen and (min-width: 601px) {
      .stackcontent{
          padding: 30px 50px 30px 50px;
          background-color: #ffffff;
          margin: 600px 100px 0px 0px;
      }
    }