{{ section.settings.stackbanner }}
{% schema %}
  {
    "name": "stackbanner",
    "settings": [
                    {
                        "type":"liquid",
                        "label":"stackbanner",
                        "id":"stackgraphics"
                    }
                ],
    "presets": [
    {
      "name": "Stack Banner"
    }]
  }
{% endschema %}
<div class="stacksection">
  <div class="page-width stackheader">
    <div class="stackcontent">
      <h3>Grab your favourites today.</h3>
      <p>Text about stacks etc</p>
      <a href="/products/whey-premium-protein-blend" class="button">Shop all</a>
    </div>
    <div class="stackimage">
      {{ 'WheyPlaceholderL.png' | asset_url | img_tag: 'WheyPlaceholder' }}
    </div>
  </div>
</div>